<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="text/javascript" src="../../../common/config/config.js"></script>
    <script type="text/javascript" src="../../bankstatement/validator/BankStatementValidator.js"></script>
    <script type="text/javascript" src="../../bankstatement/controller/BankStatementController.js"></script>
    <script type="text/javascript" src="../../bankstatement/generate/BankStatementGenerate.js"></script>
    <script type="text/javascript" src="../../bankstatement/model/BankStatementModel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="../../../../public/favicon.ico" />
    <link href="../../../style/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>BANK - Investimentos & Financiamento</title>
    <script>
        function toogleState(divid) {
            if (document.getElementById(divid).style.display === "none") {
                document.getElementById(divid).style = "lead text-white-50 mb-4";
            } else {
                document.getElementById(divid).style.display = "none";
            }
        }
    </script>
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow-sm" style="background: -webkit-linear-gradient(#2937f0, #9f1ae2)">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">ED BANK - Investimentos & Financiamento</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse dropdown show" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!"><i class="bi bi-person"></i> Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!"><i class="bi bi-gear"></i> Configurações</a></li>
                    <li class="nav-item">

                        <a class="nav-link" href="../../login/view/login.html" onclick="localStorage.clear()"><i
                                class="bi-box-arrow-right"></i> Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Header-->
    <header class="bg-dark py-5" id="header1">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div id="account-info" class="text-center my-5">
                        <h1 id="owner-account-name" class="display-4 fw-bolder text-white mb-1"></h1><br>
                        <p id="account-balance" class="lead text-white-50 mb-4" style="font-size:1.9rem;"><br>Saldo disponível: R$<span id='oculta' style="display: none;">info</span><button type="button" onclick="toogleState('oculta')" style="background-color: #212529; border: none;"><i
                                    class="bi bi-eye " style="color: white;"></i></button></i>
                        </p>

                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" onclick="toogleState('66')" href="#66">Ver informações da conta</a>

                        </div>


                    </div>
                </div>
            </div>
    </header>

    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi-wallet2 "></i>
                    </div>
                    <h2 class="h4 fw-bolder">Extrato</h2>
                    <p>Veja a movimentação financeira de sua conta.</p>
                    <a class="text-decoration-none" href="#myModal" data-bs-toggle="modal">
                        Clique aqui
                        <i class="bi bi-arrow-right "></i>
                    </a>
                </div>
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-safe"></i>
                    </div>
                    <h2 class="h4 fw-bolder">Depósito</h2>
                    <p>Adicione dinheiro a seu saldo, podendo investir em diversas opções oferecidas.</p>
                    <a class="text-decoration-none" href="../../deposit/view/deposit.html">
                        Clique aqui
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-3">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi-cash-stack"></i>
                    </div>
                    <h2 class="h4 fw-bolder">Transferência</h2>
                    <p>Pague suas contas ou transfira.</p>
                    <a class="text-decoration-none" href="../../transfer/view/transfer.html">
                        Clique aqui
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-graph-up-arrow"></i>
                    </div>
                    <h2 class="h4 fw-bolder">Investimento</h2>
                    <p>Veja a movimentação financeira de sua conta.</p>
                    <a class="text-decoration-none" href="#idInvestment" data-bs-toggle="modal">
                        Clique aqui
                        <i class="bi bi-arrow-right "></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="cta">
        <div class="cta-content">
            <div class="container px-5">
                <h2 class="text-white" style="font-size: calc(1.625rem + 4.5vw); ">
                    Financiamento estudantil e microcrédito para MEI:
                    <br />
                    <br />
                </h2>
                <a class="btn btn-outline-light py-3 px-4 rounded-pill" target="_blank">Saiba mais</a>
            </div>
        </div>
    </section>


    <!-- Pricing section-->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Aqui seu dinheiro rende mais!</h2>
                <p class="lead mb-0">Algumas opções de investimento seguro com rendimento superior a poupança:</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="large text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i>Tesouro Prefixado
                            </div>
                            <div class="mb-3">
                                <span class="display-5 fw-bold">11,05%</span>
                                <span class="text-muted">/ a.a.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>Porta de entrada do mundo dos investimentos. Possui modalidades prefixadas e
                                        pós-fixadas. Ideal para quem quer começar.</strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i> Investimento mais seguro do mercado
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i> Rende mais do que a poupança
                                </li>

                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary">Conheça</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card pro-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="large text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i> CDB e LC
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">127%</span>
                                <span class="text-muted">/ do CDI.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>São investimentos em Renda Fixa com boas rentabilidades e muitas opções de
                                        prazo de resgate para sua estratégia de investimento.

                                    </strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i> Tem cobrança de Imposto de Renda – segue a tabela regressiva da renda fixa, conforme o tempo de aplicação, de 22,5% a 15%, podendo ainda ser mais lucrativo que o LCI ou LCA
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i> São cobertos pelo Fundo Garantidor de Créditos - FGC
                                </li>


                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary">Conheça</a></div>
                        </div>
                    </div>
                </div>
                <!-- Pricing card enterprise-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="large text-uppercase fw-bold">
                                <i class="bi bi-star-fill text-warning"></i>LCI e LCA
                            </div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold"> 98%</span>
                                <span class="text-muted">/ do CDI.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    <strong>São investimentos muito populares na Renda Fixa, com boas rentabilidades no
                                        médio prazo.
                                    </strong>
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i> Bom para quem está se planejando para o futuro
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i> São isentos de Imposto de Renda
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-outline-primary">Conheça</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="infoConta" id="66" style="display: none;">
        <header class="bg-dark" style="height: 47rem">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-6">
                            <img src="../../../../public/iconeedsvg.png" alt="..." style="width: 156px; height: 156px;" />

                            <p id="account-infos" class="lead text-white-50 mb-4" style="font-size:1.9rem;"></p>
                            <a class="btn btn-primary rounded-pill px-3 mb-3 mb-lg-0" href="#header1" onclick="toogleState('66')">Voltar para inicio</a>
                        </div>

                    </div>

                </div>
        </header>
    </section>
    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Depoimentos de clientes</h2>
                <p class="lead mb-0">Veja algumas experiências de nossos usuários:</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- Testimonial 1-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-1">Com ED BANK consegui investir no meu negócio sem comprometer a renda, gerando valor.</p>
                                    <div class="small text-muted">- Ana, Manaus</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-1">Simples e fácil de usar.</p>
                                    <div class="small text-muted">- Léo, Rio de Janeiro</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer-->
    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 ">
                <div class="mb-2">&copy; ED BANK 2022 - Version 1.1.0 - All Rights Reserved.</div>

                <a class="text-white-50 " href="#!" style="text-decoration: none; font-size: 0.875rem;">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a class="text-white-50 " href="#!" style="text-decoration: none;">Terms</a>
                <span class="mx-1">&middot;</span>
                <a class="text-white-50 " href="#!" style="text-decoration: none;">FAQ</a>

            </div>
        </div>
        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Informe o intervalo de datas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="d-inline-flex p-2 grid">
                        <div class="form-outline form-white mb-4">
                            <input placeholder="Select date" type="date" id="initialDate" class="form-control">
                        </div>
                        <p class="margin">até</p>
                        <div class="form-outline form-white mb-4">
                            <input placeholder="Select date" type="date" id="finalDate" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" target="_blank" onclick="BankStatementController.BankStatement()">Emitir extrato</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="idInvestment" class="modal fade" >
            <div class="modal-dialog">
                <div class="modal-content" >
                    <div class="modal-header" style="background: -webkit-linear-gradient(#2937f0, #9f1ae2)">
                        <h5 class="modal-title" style="color: white"><i class="bi bi-wallet2"></i> Carteiras de investimento ED BANK </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <nav>

                        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                        
                        <script>
                            var xValues = ["CDB", "LCA", "Tesouro Direto"];
                            var yValues = [55, 49, 44];
                            var barColors = [
                              "#b91d47",
                              "#2b5797",
                              "#1e7145"
                            ];
                            
                            new Chart("myChart", {
                              type: "pie",
                              data: {
                                labels: xValues,
                                datasets: [{
                                  backgroundColor: barColors,
                                  data: yValues
                                }]
                              },
                              options: {
                                title: {
                                  display: true,
                                  text: "Investimentos"
                                }
                              }
                            });
                            </script>
                        <h5> <br><p id="valortotalaplicado"></p><br> </h5>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"> CDB </button>
                          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> LCA </button>
                          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Tesouro Direto</button>
                        </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                           <br><p id="valorescdb">Valor Aplicado - R$1000,00<br><br>Valor Liquido - R$1100,00 <br><br></p>
                           
                            <button type="button" class="btn btn-primary" target="_blank" onclick="">Relatório</button>
                            <button type="button" class="btn btn-primary" target="_blank" onclick="">Investir</button>
                            <button type="button" class="btn btn-primary" target="_blank" onclick="">Resgatar</button>
                                          
                        </p></div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            <br><p id="valoreslca">Valor Aplicado - R$820,00<br><br>Valor Liquido - R$950,00 <br><br></p>
                           
                            <button type="button" class="btn btn-primary" target="_blank" onclick="">Relatório</button>
                            <button type="button" class="btn btn-primary" target="_blank" onclick="">Investir</button>
                            <button type="button" class="btn btn-primary" target="_blank" onclick="">Resgatar</button>
                                          
                        </p>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                            <br>Valor Aplicado - R$400,00<br><br>Valor Liquido - R$530,00 <br><br>
                           
                            <button type="button" class="btn btn-primary" target="_blank" onclick="">Relatório</button>
                            <button type="button" class="btn btn-primary" target="_blank" onclick="">Investir</button>
                            <button type="button" class="btn btn-primary" target="_blank" onclick="">Resgatar</button>
                                          
                        </p>
                        </div>
                      </div>
                   
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            document.getElementById('owner-account-name').innerHTML = `Olá, ${atob(localStorage.getItem('userName'))}`
            document.getElementById('oculta').innerHTML = `${atob(localStorage.getItem('userAccountBalance'))}`
            document.getElementById('account-infos').innerHTML = `<br>Número da conta - ${atob(localStorage.getItem('userNumberAccount'))} <br>Nome - ${atob(localStorage.getItem('userName'))} <br> E-mail - ${atob(localStorage.getItem('userEmail'))}`
            document.getElementById('valortotalaplicado').innerHTML = `${atob(localStorage.getItem('userAccountBalance'))}`
           
        
        </script>
</body>

</html>